<!-- 
                                                                                                                                                                                      
    ___  ________  ___      ___ ________  ___       __   _______   ________          ________  _______   ___      ___ _______   ___       ________  ________  _______   ________     
   |\  \|\   __  \|\  \    /  /|\   __  \|\  \     |\  \|\  ___ \ |\   __  \        |\   ___ \|\  ___ \ |\  \    /  /|\  ___ \ |\  \     |\   __  \|\   __  \|\  ___ \ |\   __  \    
   \ \  \ \  \|\  \ \  \  /  / | \  \|\  \ \  \    \ \  \ \   __/|\ \  \|\ /_       \ \  \_|\ \ \   __/|\ \  \  /  / | \   __/|\ \  \    \ \  \|\  \ \  \|\  \ \   __/|\ \  \|\  \   
 __ \ \  \ \   __  \ \  \/  / / \ \   __  \ \  \  __\ \  \ \  \_|/_\ \   __  \       \ \  \ \\ \ \  \_|/_\ \  \/  / / \ \  \_|/_\ \  \    \ \  \\\  \ \   ____\ \  \_|/_\ \   _  _\  
|\  \\_\  \ \  \ \  \ \    / /   \ \  \ \  \ \  \|\__\_\  \ \  \_|\ \ \  \|\  \       \ \  \_\\ \ \  \_|\ \ \    / /   \ \  \_|\ \ \  \____\ \  \\\  \ \  \___|\ \  \_|\ \ \  \\  \| 
\ \________\ \__\ \__\ \__/ /     \ \__\ \__\ \____________\ \_______\ \_______\       \ \_______\ \_______\ \__/ /     \ \_______\ \_______\ \_______\ \__\    \ \_______\ \__\\ _\ 
 \|________|\|__|\|__|\|__|/       \|__|\|__|\|____________|\|_______|\|_______|        \|_______|\|_______|\|__|/       \|_______|\|_______|\|_______|\|__|     \|_______|\|__|\|__|
                                                                                                                                                                                    
		
		   																													   ___       _         _   _       _   _                
																															  |_  |     (_)       | | | |     | \ | |               
																															    | | ___  _ _ __   | | | |___  |  \| | _____      __ 
																															    | |/ _ \| | '_ \  | | | / __| | . ` |/ _ \ \ /\ / / 
																															/\__/ / (_) | | | | | | |_| \__ \ | |\  | (_) \ V  V /  
																															\____/ \___/|_|_| |_|  \___/|___/ \_| \_/\___/ \_/\_/                                                                                                                                                                                       
 -->
<meta charset="UTF-8">
<meta name="Author" Content="KevinBlandy(747692844@qq.com)">
<meta name="Keywords" Content="java,javaweb,spring,springboot,springcloud,算法,编程,io,数据库,Linux,多线程,javascript,exception,web开发,论坛,技术,bbs,源码,系统,数据结构,程序员">
<meta name="Description" Content="帮助他人,提高自己  - Javaweb开发者社区 ">
<link rel="shortcut icon" type="image/x-icon" href="${ctxPath}/static/icon/green-200-icon.png"/>
<link rel="stylesheet" href="${ctxPath}/static/bootstrap/css/bootstrap.min.css">
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?6b61470367ceaca8e6f1c9bb2632f94b";
		var s = document.getElementsByTagName("script")[0]; 
		s.parentNode.insertBefore(hm, s);
	})();
</script>
<!--[if lt IE 9]><script>alert('本站不支持IE8及以下的浏览器,我们不想为落后买单!');location.href='http://browsehappy.com/'</script><![endif]-->

