<script type="text/javascript" src="${ctxPath}/static/js/jquery-3.2.1.min.js"></script>
<script src="${ctxPath}/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${ctxPath}/static/layer/layer.js"></script>
<%if(isLogin()){%>	
	<!-- <script type="text/javascript" src="${ctxPath}/static/js/notify.js"></script> -->
<%}%>
<% //百度链接主动提交代码 %>
<script>
	(function(){
		var bp = document.createElement('script');
		var curProtocol = window.location.protocol.split(':')[0];
		if (curProtocol === 'https') {
		    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
		}else {
		    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
		}
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(bp, s);
	})();
</script>